<% include header %>


<div id="layoutSidenav_content">
    <main>
<div class="container-fluid">
    <form method="POST" onsubmit="return doEditPost(this);">
        <h1>
            Add a Flight
        </h1>
            <div class="form-group">
              <label >Flight name </label>
              <input name="fname" class="form-control" placeholder="Flight name" 
              value="<%=flight.fname %>" >
            </div>
            <button class = "btn btn-primary " data-toggle = "modal" data-target = "#myModal" type="button"> Upload image</button>
           
            <div class="form-group">
                <label >Departure City </label>
                <input name="dcity" class="form-control" placeholder="Departure City" 
                value="<%=flight.dcity %>" >
              </div>
              <div class="form-group">
                <label >Arrival City </label>
                <input name="acity" class="form-control" placeholder="Arrival City"
                value="<%=flight.acity %>"  >
              </div>
              <div class="form-group">
                <label >Departure Date</label>
                <input name="ddate" class="form-control" placeholder="Departure Date"
                value="<%=flight.ddate %>"  >
              </div>
              <div class="form-group">
                <label >Arrival Date</label>
                <input name="adate" class="form-control" placeholder="Arrival Date"  
                value="<%=flight.adate %>">
              </div>
              <div class="form-group">
                <label >Price</label>
                <input name="price" class="form-control" placeholder="Price" 
                value="<%=flight.price %>" >
              </div>
            <input type="submit" class="btn btn-warning" value="Edit"/>
           
          </form>
</div>
</main>
</div>
<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
          
            <h4 class = "modal-title" id = "myModalLabel">
              Upload image
            </h4>
              <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
         </div>
         
         <div class = "modal-body">
          <form method="POST" enctype="multipart/form-data" id="form-upload">

            <input type="hidden" name="image" value="<%= flight.image %>">
            <div class="form-group">
              <input type="file" name="file" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-success" value="Upload" />
            
          </form>
         </div>
         
 
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->


<script>

    var flightId = '<%= flight._id %>';
    var image = '<%= flight.image %> ';
    function doEditPost(form){
    var formData = {fname: form.fname.value, dcity: form.dcity.value, acity: form.acity.value, ddate: form.ddate.value, adate: form.adate.value, price:form.price.value, _id: flightId,image:image};
 
        $.ajax({
            url:"/do-edit-post",
            method: "POST",
            data:formData,
            success: function(response){
                alert(response);



              

                
               
            }
        });
        return false;
    }
    $("#form-upload").on("submit",function(e){
    e.preventDefault();
    $.ajax({
      url: "/do-update-image",
      method:"POST",
      data: new FormData(this),
      contentType: false,
      cache: false,
      processData: false,
      success: function(response){
        image = response;
        $("#myModal").modal("hide");
      }
    });
  });
</script>
<% include footer %>
